## .NET build artifacts
bin/
obj/
out/
[Ll]og/
*.log

## User-specific files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
*.csproj.user

## Rider IDE
*.sln.iml
.idea/

## OS-specific files
.DS_Store
Thumbs.db

## ASP.NET Core secrets & configs
secrets.json
appsettings.Development.json
appsettings.Local.json
*.db
*.pfx

## Publish outputs
publish/
*.publish.xml

## Dependency directories
node_modules/
wwwroot/lib/

## Test results
TestResults/
*.trx
*.coverage
*.coveragexml
*.testsettings

## Temporary files
*.tmp
*.bak
*.cache
*.pid

## Logs
*.log

## Azure pipeline artifacts
*.azure-pipelines.yml
*.tfignore

## Nuke build artifacts
.nuke/

## Swashbuckle/Swagger
swagger/v1/swagger.json

# Resharper
_ReSharper*/
*.DotSettings.user

# npm
package-lock.json
npm-debug.log*

# VS Code workspace config
*.code-workspace
.history/

# SQLite
*.sqlite
*.db

# EF Core Migrations snapshot
Migrations/*.csproj.user

# JetBrains Rider
.idea/
/.vs/DotNet_Web_Api_Code_Book/v17/.suo
/.vs/DotNet_Web_Api_Code_Book/v17/DocumentLayout.json
